p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: aquamarine;
    overflow: visible;
}
.carousel-caption a{
    text-decoration: none;
}

.carousel-caption:hover{
    
    margin: 0px;
    border-radius: 5px;
    opacity: 0.8;
    background-color: azure;
    cursor: pointer;
}
.carousel-caption h3{
    
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    color: black;
    opacity: 1;
    font-size: xx-large;
}
.carousel-caption p{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    color: black;
    text-overflow: clip;
    opacity: 1;
}

.bloques-nosotros{
    border: solid black 2px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
#nosotros{
    border-bottom: solid 2px black;

}
#barra-busqueda{
    background-color: blanchedalmond;
    border: solid 1px rgb(223, 220, 220);
    border-radius: 0px 0px 5px 5px;
    z-index: 100;
}